<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
      {{ index.title }}
  </title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
{{!-- <head>
    <title>Handlebars Master Template - {{ _page.title }}</title>
    {{#each _page.meta}}
    <meta name="{{ @key }}" content="{{ this }}" />
    {{/each}}
</head> --}}